body {
  background-color: #dae0e6;
  color: rgb(34, 34, 34);
  margin: 0;
}

header {
  background-color: #ffffff;
  height: 60px;
  padding: 0 20px;
}

header div {
  display: flex;
  align-items: center;
}

header img {
  height: 50px;
  width: 50px;
}

header input {
  border-radius: 4px;
  border: 1px solid #cdcdcd;
  height: 30px;
  width: 300px;
  margin: 0 30px;
}

header select {
  border-radius: 4px;
  border: 1px solid #cdcdcd;
  height: 36px;
}

main {
  margin: auto;
  max-width: 800px;
}

h1, p {
  font-family: Lato;
}

#favorites-header {
  display: flex;
  align-items: center;
}

#favorites-header div {
  margin-left: 10px;
}

#favorites-header button {
  border-radius: 4px;
  border: 1px solid #cdcdcd;
  height: 30px;
}

.post {
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  margin: 20px 0;
  padding: 0 10px;
}

.post div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post a {
  color: rgb(34, 34, 34);
}

.add:hover, .remove:hover {
  cursor: pointer;
}